@font-face {
    font-family: NunitoSans-Regular;
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: NunitoSans-Light;
    src: url('../fonts/NunitoSans-Light.ttf');
}

@font-face {
    font-family: NextArt-Regular;
    src: url('../fonts/NEXTART_Regular.otf');
}

@font-face {
    font-family: NextArt-SemiBold;
    src: url('../fonts/NEXTART_SemiBold.otf');
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.button {
    background: #1A3E3E !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.012em;
    border-radius: 4px !important;
    padding: 12px 24px 12px 24px !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: NunitoSans-Light;
    font-weight: 400;
    overflow: hidden;
}

.header {
    background-image: url("../images/bunner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
    transition: .2s ease-in-out;
}

.block-menu-phone {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1A3E3E;
    display: none;
    z-index: 1;
    padding: 16px;
    flex-direction: column;
}

.menu-phone-hide {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.block-menu-phone ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.block-menu-phone ul li {
    display: list-item;
    background: url(../images/liArrow.svg) no-repeat;
    background-position-y: -1px;
    padding-left: 18px;
    color: #FDFDFD;
    font-size: 14px;
    line-height: 18px;
    font-family: NunitoSans-Light;
    transition: .2s ease-in-out;
}

.header_content {
    background: transparent;
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-grow: 1;
    margin: 16px 0 82px 0;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1023px) {
        margin: 16px 0 50px 0 !important;
    }
}

.logo {
    @media (max-width: 1023px) {
        width: 84px !important;
    }
}

.block-menu {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desctop {
    background: transparent;
    color: #FDFDFD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0 49px 0 auto;

    @media (max-width: 1023px) {
        display: none !important;
    }
}

.menu-desctop_item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.55px;
    cursor: pointer;
}

.button-menu {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.menu-phone-img {

    display: none;

    @media (max-width: 1023px) {
        display: flex !important;
    }
}

.block-content {
    background: transparent;
}

.title {
    background: transparent;
    font-weight: 700;
    font-size: 50px;
    color: #FDFDFD;
    line-height: 75px;
    letter-spacing: 0.02em;
    margin: 0 100px 41px 0 !important;
    font-family: NextArt-Regular;

    @media (max-width: 1023px) {
        font-size: 28px;
        color: #FDFDFD;
        line-height: 42px;
        margin: 0 0 32px 0 !important;
    }
}

.program-selector {
    background: rgba($color: #fff, $alpha: 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 42px 40px 43px;

    @media (max-width: 1023px) {
        justify-content: flex-start !important;
        padding: 0 !important;
        background: transparent !important;
    }
}

.selector-block {
    flex-grow: 1;
    max-width: 270px;
    display: flex;
    gap: 8px;
    flex-direction: column;

    @media (max-width: 1023px) {
        display: none !important;
    }
}

.button-select-program {
    background: white !important;
    color: #1A3E3E !important;
    width: 213px !important;
    height: 52px !important;
    font-weight: 700 !important;
    font-family: NunitoSans-Regular;
}

.selector {
    height: 52px;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    padding: 0px 16px 0px 16px !important;
    color: #FDFDFD;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selector-block-description {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #FDFDFD !important;
    margin: 0 8px !important;
}


.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background: white;
}

.content {
    width: 100%;
    max-width: 1180px;
}

.block1-content {
    display: flex;
    gap: 40px 120px;
    margin: 100px 0;
    background: white;

    @media (max-width: 1080px) {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
}

.content-item {
    display: flex;
    flex-grow: 1;
}

.content-first {
    display: flex;
    background: transparent;
    max-width: 480px;
    position: relative;

    @media (max-width: 1080px) {
        max-width: none;
        justify-content: center;
        align-items: center;
    }
}

.content-second {
    display: flex;
    background: transparent;
    max-width: 580px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 1080px) {
        max-width: none;
    }
}

.content-first-img {
    width: 350px;
    height: 400px;
}

.content-first-img-first {
    position: absolute;

    @media (max-width: 1140px) {
        display: none !important;
    }
}

.content-first-img-second {
    z-index: 1;
    margin: 126px 0 0 130px;

    @media (max-width: 1140px) {
        margin: 0 !important;
    }

    @media (max-width: 1080px) {
        height: auto;
    }
}

.content-first-img-third {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 175px + 130px;
    top: 200px + 126px;
    transform: translate(-50%, -50%);
    z-index: 1;

    @media (max-width: 1140px) {
        left: 50% !important;
        top: 50% !important;
    }
}

.content-text-first {
    color: #F2BE22;
    font-size: 24px;
    line-height: 20px;

    @media (max-width: 1080px) {
        font-size: 16px !important;
    }
}

.content-text-second {
    font-family: NunitoSans-Regular;
    color: #18121E;
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 800;
    margin: 8px 0 40px 0 !important;

    @media (max-width: 1080px) {
        font-size: 24px !important;
        line-height: 28.8px !important;
    }
}

.content-text-third {
    color: #18121E;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 40px !important;

    @media (max-width: 1080px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.button-about-tour {
    @media (max-width: 1080px) {
        margin: auto !important;
    }
}

.button-about-tour2 {
    @media (max-width: 1080px) {
        margin-left: 66px;
    }
}


.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background: #F3F5F4;
}

.block2-content {
    display: flex;
    background: #F3F5F4;
    gap: 90px;
    margin: 80px 0 100px 0;

    @media (max-width: 1080px) {
        margin: 50px 0;
    }
}

.block2-content-block {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.block2-content-first {
    max-width: 580px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 1080px) {
        max-width: none;
    }
}

.block2-content-second {
    max-width: 510px;

    @media (max-width: 1080px) {
        display: none;
    }
}

.items-block {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    flex-direction: column;
}

.items-block-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;

    @media (max-width: 1080px) {
        align-items: flex-start;
    }
}

.items-block-item-img {
    width: 50px;
    height: 50px;
}

.items-block-item-content-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.012em;
    color: #18121E;
}

.items-block-item-content-text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.block2-content-block-img {
    width: 510px;
}

.block3 {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.block3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 100px 0;

    @media (max-width: 1080px) {
        margin: 50px 0;
    }
}

.block3-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0 50px 0;
    position: relative;

    @media (max-width: 926px) {
        width: 100%;
        height: 400px;
    }
}

.direction {
    width: 380px;
    height: 500px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover !important;
    transition: 0.2s ease-in-out;

    @media (max-width: 1211px) {
        width: 285px;
        height: 400px;
    }

    @media (max-width: 926px) {
        position: absolute;
    }
}

.rating {
    background: rgba($color: #FDFDFD, $alpha: 0.4);
    display: flex;
    gap: 4px;
    padding: 4px 8px;
    width: fit-content;
    margin-top: 50px;
    border-radius: 4px 0 0 4px;
}

.rating p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1A3E3E;
    display: contents !important;
}

.description-direction {
    background: rgba($color: #FFFFFF, $alpha: 0.2);
    border-radius: 0 0 32px 32px;
    width: 100%;
}

.description-direction-container {
    display: flex;
    padding: 20px 32px 23px 32px;
    transition: .2s ease-in-out;

    @media (max-width: 1211px) {
        padding: 20px 24px;
    }
}

.description-direction-text-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.description-direction-text1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: #FDFDFD;
    transition: .2s ease-in-out;

    @media (max-width: 1211px) {
        font-size: 18px;
        line-height: 21.6px;
    }
}

.description-direction-text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FDFDFD;
    transition: .2s ease-in-out;

    @media (max-width: 1211px) {
        display: none;
    }
}

.description-direction-price {
    display: flex !important;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
    padding: 8px 16px !important;
    background: rgba($color: #FFFFFF, $alpha: 0.3);
    border-radius: 4px;
    transition: .2s ease-in-out;

    @media (max-width: 1211px) {
        font-size: 16px;
        line-height: 18px;
        padding: 6px 12px !important;
    }
}

.block4 {
    background: #F3F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.block4-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 100px 0;

    @media (max-width: 1080px) {
        margin: 50px 0;
    }
}

.block4-content-container {
    gap: 24px 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0 50px 0;
    position: relative;

    @media (max-width: 1080px) {
        width: 100%;
        height: 496px;
    }
}

.blog-card {
    flex-grow: 1;
    display: flex;
    width: 400px;
    min-width: 400px;
    max-width: 580px;
    padding: 16px;
    background: #FDFDFD;
    border-radius: 10px;
    gap: 24px;
    cursor: url("../images/cursor.png"), auto;
    transition: .2s ease-in-out;

    @media (max-width: 1080px) {
        flex-direction: column;
        padding: 0;
        min-width: 285px;
        max-width: 285px;
        width: 285px;
        height: 496px;
        gap: 0;
        position: absolute;
        top: 0;
    }
}

.blog-card:hover .blog-card-content-text1 {
    text-decoration: underline;
    color: #1A3E3E;
}

.blog-card-img {
    width: 230px;
    height: 280px;
    border-radius: 6px;

    @media (max-width: 1080px) {
        width: 285px;
        height: 280px;
    }
}

.blog-card-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 16px 0;

    @media (max-width: 1080px) {
        padding: 16px;
    }
}

.blog-card-content-text1 {
    font-family: NunitoSans-Regular;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #18121E;

    @media (max-width: 1200px) {
        font-size: 20px;
        line-height: 26px;
    }
}

.blog-card-content-text2 {
    display: flex;
    flex-grow: 1;
    margin: 24px 0 !important;
    font-size: 14px;
    line-height: 20px;
    color: #18121E;

    @media (max-width: 1200px) {
        margin: 16px 0 !important;
    }
}

.log-card-content-text-container {
    display: flex;
}

.log-card-content-text-container-date {
    font-family: NunitoSans-Regular;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #F2BE22;
    display: flex;
    align-items: center;
}

.log-card-content-text-container-moore {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    font-family: NunitoSans-Regular;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1A3E3E;
}

.block5 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.block5-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 100px 0;

    @media (max-width: 1080px) {
        margin: 50px 0;
    }
}

.block5-content-container {
    gap: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0 50px 0;
    position: relative;
    justify-content: center;

    @media (max-width: 927px) {
        width: 100%;
        height: 250px;
        justify-content: flex-start;
    }
}

.impressionImg {
    border-radius: 6px;
    object-fit: cover;
    object-position: right;
    cursor: url("../images/cursor2.png"), auto;
    transition: .2s ease-in-out;

    @media (max-width: 1211px) {
        width: 280px;
        height: 250px;
    }

    @media (max-width: 927px) {
        position: absolute;
        top: 0;
    }
}

.block6 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.block6-content {
    background: #FDFDFD;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    border-radius: 6px;
    padding: 40px 100px;
    gap: 18px 64px;
    align-items: flex-start;

    @media (max-width: 1080px) {
        padding: 24px;
    }

    @media (max-width: 680px) {
        flex-direction: column;
    }
}

.block6-content-block1 {
    display: flex;
    flex-grow: 1;
    width: 310px;
    max-width: 380px;
    gap: 8px;
    flex-direction: column;

    @media (max-width: 680px) {
        width: 100%;
        max-width: none;
    }
}

.block6-content-block1-text1 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    color: #F2BE22;

    @media (max-width: 680px) {
        font-size: 16px;
    }
}

.block6-content-block1-text2 {
    width: 100%;
    font-family: NunitoSans-Regular;
    font-weight: 800;
    font-size: 26px;
    line-height: 31.2px;
    color: #18121E;

    @media (max-width: 680px) {
        font-size: 24px;
        line-height: 28.8px;
    }
}

.block6-content-block2 {
    display: flex;
    flex-grow: 1;
    width: 310px;
    flex-direction: column;

    @media (max-width: 680px) {
       width: 100%;
    }
}

.block6-content-block2-text1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #18121E;
    margin-bottom: 8px !important;
}

.block6-content-block2-text2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #18121E;
}

.block6-content-block2-content-container {
    gap: 16px;
    display: flex;
    margin-bottom: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 680px) {
        margin-bottom: 36px;
    }
}

input {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-mail {
    background: #F3F5F4;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #18121E;
    display: flex;
    flex-grow: 1;
    min-width: 280px;
}

.button-news {
    width: 240px !important;
    height: 44px !important;
    margin-left: 0 !important;
}

.footer {
    background: #1A3E3E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    margin-top: -98px;

    @media (max-width: 912px) {
        margin-top: 50px;
    }
}

.footer-content{
    display: flex;
    margin: 178px 0 80px 0;
    gap: 50px 20px;

    @media (max-width: 912px) {
        flex-direction: column;
        margin: 50px 0 80px 0;
    }
}

.footer-content-block1{
    width: 480px;
    display: flex;
    height: 263px;
    flex-direction: column;
    min-width: 280px;

    @media (max-width: 912px) {
        width: 100%;
        height: 231px;
    }
}

.footer-content-block1-text1{
    margin-bottom: 17px !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F3F5F4;
    font-family: NunitoSans-Regular;
}

.footer-content-block1-text2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-content-block1-contacts{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
}

.footer-contact{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer-social-media{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer-content-block2{
    min-width: 280px;
    display: flex;
    flex-direction: column;
}

.footer-content-block2-text1{
    margin-bottom: 20px !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F3F5F4;
    font-family: NunitoSans-Regular;
}

.footer-content-block2 ul,
.footer-content-block3 ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0;
}

.footer-content-block2 ul li,
.footer-content-block3 ul li {
    list-style-type: none;
    display: list-item;
    background: url(../images/liArrow.svg) no-repeat;
    background-position-y: -1px;
    padding-left: 18px;
    color: #FDFDFD;
    font-size: 14px;
    line-height: 18px;
    font-family: NunitoSans-Light;
    transition: .2s ease-in-out;
    cursor: url("../images/cursor2.png"), auto;
}

.footer-content-block2 ul li:hover,
.footer-content-block3 ul li:hover {
    background: url(../images/liArrowSelect.svg) no-repeat;
    text-decoration: underline;
    color: #F2BE22;
    background-position-y: -1px;

    .new{
        background: #F2BE22; 
    }
}

.new{
    background: white;
    color: #1A3E3E;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    padding: 2px 10px !important;
    display: inline;
    margin-left: 8px !important;   
    transition: .2s ease-in-out; 
}

.footer-content-block3{
    min-width: 280px;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 912px) {
        margin-left: 0;
    }
}

.footer-end{
    background: #18121E;
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}

.footer-end-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    gap: 8px;

    @media (max-width: 912px) {
        flex-direction: column;
        margin: 20px 0;
    }
}

.footer-end-content-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}

.upScroll{
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #1A3E3E;
    color: #F2BE22;
    opacity: 0.4;
    left: calc(100% - 50px);
    top: calc(100% - 50px);
    z-index: 100;
    cursor: pointer;
}